<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Select items</h4>
        </div>
        <div class="modal-body">
            <div class="filters-wrap row"></div>
            <div class="item-container-wrap row"></div>
            <div class="selected-items-wrap row"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-cancel">Cancel</button>
            <button type="button" class="btn btn-confirm">Confirm</button>
        </div>
    </div>
</div>